/* Debug */
/* End Debug */


*,
::before,
::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;    
}

.ms-navbarfix{
    padding-top: 80px;
}

/* COLORS */

:root{
    --color-dark: #2c3e50;
    --color-lightgreen: #1abc9c;
    --color-grey: #3a546d;
    --color-bordeaux: #ba4b63;
    --color-aqua: #1ea4b6;
    --color-azure: #1c83c1;
    --color-blue: #0e38b5;
    --color-beige: #ccb2a3;
    --color-brown: #140f0f;
}


/* BG */

.ms_bg-dark{background-color: var(--color-dark);}
.ms_bg-grey{background-color: var(--color-grey);}
.ms_bg-lightgreen{background-color: var(--color-lightgreen);}

.ms_bg-bordeaux{background-color: var(--color-bordeaux);}
.ms_bg-aqua{background-color: var(--color-aqua);}
.ms_bg-azure{background-color: var(--color-azure);}
.ms_bg-blue{background-color: var(--color-blue);}
.ms_bg-brown{background-color: var(--color-brown);}
.ms_bg-beige{background-color: var(--color-beige);}




/* Components */

.ms_separator{
    position: relative;
    display: block;
    width: 200px;
    height: 3px;
    margin: 20px 0px;
}

.ms_separator::after{
    font: var(--fa-font-solid);
    content: '\f005';
    font-size: 1.5rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 0px 20px;
}

.ms_separator.separator-dark{
    background-color: var(--color-dark);
}

.separator-dark::after{
    background-color: white;
    color: var(--color-dark);
}


.ms_separator.separator-light{
    background-color: white;
}

.separator-light::after{
    background-color: var(--color-lightgreen);
    color: white;
}


/* btn */

.ms_btn_circular{
    width: 40px;
    height: 40px;
}


.ms_btn_lightgreen{
    background-color: var(--color-lightgreen);
    color: white;
}

.ms_btn_lightgreen:hover{
    border: 1px solid var(--color-lightgreen);;
    background-color: transparent;
    color: var(--color-lightgreen);;
}

/* link */


.nav-link.ms_custom_navlink{
    text-transform: uppercase;
    font-weight: bold;
    color: white;
}

.nav-link.ms_custom_navlink:hover{
    color: var(--color-lightgreen);
}

.ms_link_lightgreen{
    color: var(--color-lightgreen);
    text-decoration: none;
}

.ms_link_lightgreen:hover{
    text-decoration: underline;
}

/* forms */

.form-group *:focus{
    border-color: var(--color-lightgreen);
    box-shadow: none;
    outline: 0 none;
}


.form-group *{
    color: var(--color-dark);
}


.ms_form_control{
    border: none;
    border-bottom: 1px solid grey;
}

/* cards */

.card-img-overlay.ms_card_overlay{
    opacity: 0;
    background-color: rgba(26, 188, 156, .7);
    transition: opacity .3s ease;
}

.card-img-overlay.ms_card_overlay:hover{
    opacity: 1;
}

/* sizing */

.w-md-25{
    width: 25%;
}


@media screen and (max-width: 768px) {
    .w-sm-50{
        width: 70%;
    }

    .lead-sm{
        font-size: 1rem;
    }
}